// Class repead -- static style

// TEXT--------------------
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// DISPLAY BLOCK--------------------
.display-block {
  display: block;
}

.margin-0-auto {
  margin: 0 auto;
}

// DISPLAY INLINE--------------------
.display-inlblock {
  display: inline-block;
}

// COLOR--------------------
.color-white {
  color: #fff;
}

.color-black {
  color: #fff;
}

// BACKGROUND COLOR--------------------
.bg-color-white {
  color: #fff;
}

.bg-color-black {
  color: #000;
}

// BACKGROUND IMAGE--------------------
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// IMAGE--------------------
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}


// ICON--------------------
.icon {
  display: inline-block;
}