@import '../sass/_part/header';

.box {
  .box_item {
    font-size: 18px;
    page-break-after: 5px;
    margin-bottom: 30px;
  }
}

.mg-20 {
  margin-bottom: 20px;
}


.icon-1 {
  background-image: url('../img/sprite.png');
  background-position: 0px 0px;
  width: 256px;
  height: 256px;
}

.icon-2 {
  background-image: url('../img/sprite.png');
  background-position: -256px 0px;
  width: 256px;
  height: 256px;
}

.icon-3 {
  background-image: url('../img/sprite.png');
  background-position: 0px -256px;
  width: 256px;
  height: 256px;
}

.icon-4 {
  background-image: url('../img/sprite.png');
  background-position: -256px -256px;
  width: 256px;
  height: 256px;
}

/*==========  Desktop First  ==========*/

// // ≥1200px
@media(max-width: 1200px) {
  body {
    background-color: #000;
  }
}

// ≥992px
@media(max-width: 992px) {}

// ≥768px
@media(max-width: 768px) {}

// ≥576px
@media(max-width: 576px) {}

@media(max-width: 480px) {}

@media(max-width: 375px) {}

@media(max-width: 320px) {}